In [1]:
# Python Basics

In [2]:
2+4

6

In [1]:
4%2

0

In [2]:
5%2

1

In [3]:
5/2

2.5

In [4]:
5//2

2

In [5]:
#quotient //
#reminder %
#divide /

In [6]:
#BODMAS
5+3-2

6

In [7]:
type('232')

str

In [8]:
type('tt')

str

In [9]:
type(3)

int

In [16]:
a=2
b=9
c=a+b

In [17]:
type(c)

int

In [18]:
true or false

NameError: name 'true' is not defined

In [19]:
True or False

True

In [20]:
type(True)

bool

In [21]:
#bitwise and logical operator True / False

In [22]:
a=10
b=20
a+b<20

False

In [23]:
a+b>30 or a-b<10

True

In [2]:
### Strings
## Never use reserved keywords to prevent error. (reserved keywords str, bool, etc.)
type('vish')

str

In [3]:
str

str

In [4]:
str

str

In [5]:
str="vichu nall payan"
str

'vichu nall payan'

In [6]:
str

'vichu nall payan'

str

In [7]:
str

'vichu nall payan'

In [2]:
print(str)

<class 'str'>

In [3]:
print(str)

<class 'str'>

In [4]:
str1='A good boy'
str2='A bad boy'

In [5]:
print(str1),print(str2)

A good boy
A bad boy

(None, None)

In [8]:
str1+" "+str2

'A good boy A bad boy'

In [9]:
a=input('Enter number 1?')
b=input('Enter number 2?')
c=a+b
print('The output is',c)

Enter number 1?23
Enter number 2?34
The output is 2334

In [13]:
a=float(input("Enter number 1?"))
b=float(input("Enter number 2?"))
c=a+b
print("The output is",c)

Enter number 1?21
Enter number 2?213
The output is 234.0

In [17]:
##String formatting
first_name=input("what first name")
last_name=input("what last name")
print("welcome",first_name,last_name)

what first namevish
what last namekrish
welcome vish krish

In [22]:
first_name=input("what first name ")
last_name=input("what last name ")
print("welcome {firstname} {lastname}".format(firstname=first_name,lastname=last_name))

what first name vish
what last name krish
welcome vish krish

## Variable Dynamic Typing

In [25]:
a=10
type(a)

int

In [26]:
a=10.2374238947
type(a)

float

In [27]:
a="vish"
type(a)

str

In [28]:
##Strong Typing

In [29]:
'vish'+'krish'

'vishkrish'

In [30]:
'vish'+ 2

TypeError: can only concatenate str (not "int") to str

In [31]:
'vish' + str(1)

'vish1'

In [32]:
1 + "323"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
1 + int("323")

324

In [41]:
## conditional Statements
## if and elif
a=int(input("enter the number1?"))
b=int(input("enter the number2?"))
c=a-b
print("The output is",c)
if c<0:
    print("the number is -ve")
elif c>40:
    print("this difference is too much")
else:
    print("chamathu, the no is +ve")

enter the number1?100
enter the number2?20
The output is 80
this difference is too much

## Data Structures
1. List https://docs.python.org/3/c-api/list.html
2. Tuple
3. String
4. Dictionary
5. Sets

In [43]:
list[1,2,3]

TypeError: 'type' object is not subscriptable

In [46]:
list=[2,3,4,"vish","krish"]

In [47]:
print(list)

[2, 3, 4, 'vish', 'krish']

In [48]:
type(list[3])

str

In [49]:
type(list[2])

int

In [50]:
list.append("vichu")

In [51]:
list

[2, 3, 4, 'vish', 'krish', 'vichu']

In [52]:
list[3].append("vichu")

AttributeError: 'str' object has no attribute 'append'

In [53]:
list[3]="vichu"

In [54]:
list

[2, 3, 4, 'vichu', 'krish', 'vichu']

In [57]:
list.append("vichu"*10)

In [58]:
list

[2,
 3,
 4,
 'vichu',
 'krish',
 'vichu',
 'vichu*10',
 'vichuvichuvichuvichuvichuvichuvichuvichuvichuvichu']

In [59]:
list.count(vichu)

NameError: name 'vichu' is not defined

In [60]:
list.count('vichu')

2

In [61]:
#Indexing
#Immutable
str1="vish"
str1[2]

's'

In [62]:
str1[2]="cool"

TypeError: 'str' object does not support item assignment

In [63]:
##'str' object does not support item assignment.. which means single element within the str cannot be changed. but the entire str can be changed.. Interview question, is str. mutable or immutable.

In [64]:
#mutable means, can you change the characters inside a string..answer is no.. immutable